@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 100px;
    width: 100%;
    background: #190482;
}
.logo{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 24px;
}
.logo h1{
    margin-left: 20px;
    text-align: left;
}
.menu{
    text-align: right;
    padding: 20px;
}
.menu a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 20px;
}
.menu a:hover{
    border-top:5px solid white;
}
.header{
    display: flex;
    flex-flow: row wrap;
    background: white;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.head{
    margin-top: 2%;
    /* border: 1px solid red; */
    flex: 100%;
    text-align: center;
    padding: 10px;
}
.head h2{
    font-size: 34px;
    font-family: 'Lobster', cursive;
    letter-spacing: 5px;
    color: #190482;
}
section{
    display: inline-block;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    padding: 5%;
}
.card{
    display: inline-block;
    width: 30%;
    background: white;
    padding: 20px;
    margin: 1%;
    border: 3px solid #190482;
    border-radius: 10px;
    cursor: pointer;
}
.card h3{
    color: #190482;
}
.card p{
    color: #190482;
}
.prefooter{
    display: block;
    color: #190482;
    text-align: center;
    justify-content: center;
}
.prefooter h4{
    font-family: 'Lobster', cursive;
    padding: 10px;
}
.footer{
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg, #190482, #090422, black);
    text-align: center;
    border-top: 5px solid #8E8FFA;
}
.logo-fot{
    padding: 100px;
    
}
.agencia{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 34px;
}

