@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background: #190482;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}
.logo{
    flex: 20%;
    margin-left: 10%;
    /* border: 1px solid red; */
    text-align: left;
}
.logo h1{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 34px;
}
.menu{
    flex: 50%;
    /* border: 1px solid green; */
    text-align: center;
    padding: 20px;
    
}
.menu a{
    color: #190482;
    background: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 26px;
    border: 1px solid #190482;
    border-radius: 5px;
}
.menu a:hover{
    color: white;
    background: #8E8FFA;
    border: 1px solid #8E8FFA;
}
#botao{
    background: #190482;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}
#botao:hover{
    border:none;
    background: #8E8FFA;
}
.header{
    display: flex;
    flex-flow: row wrap;
    background: white;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.headline{
    margin: 5%;
    flex: 40%;
    /* border: 1px solid deeppink; */
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
.headline h2{
    font-weight: 900;
    font-size: 20px;
    color: #190482;
    padding: 0;
    margin: 0;
}
.img-headline{
    margin: 5%;
    flex: 40%;
    /* border: 1px solid deeppink; */
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
.img-headline h2{
    text-align: left;
    font-weight: 900;
    font-size: 20px;
    color: #190482;
    padding: 0;
    margin: 0;
}
.img-headline p{
    text-align: left;
    color: gray;
}

.headline p{
    color: gray;
    text-align: left;
}
.footer{
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg, #190482, #090422, black);
    text-align: center;
    border-top: 5px solid #8E8FFA;
}
.logo-fot{
    padding: 100px;
    
}
.agencia{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 34px;
}
